

.article-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:black;
  }
  
  .article-detail img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .article-detail h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color:black
  }
  
  .article-detail p.author {
    font-size: 1.2em;
    color: black;
    margin-bottom: 20px;
  }
  
  .article-detail p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color:black;
  }
  
  .article-detail p.votes,
  .article-detail p.comments {
    font-size: 1em;
    font-weight: bold;
    color: #333;
  }
  
  .article-detail p.comments {
    margin-bottom: 0;
  }
  