

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 8, 8); 
  height: 80px; 
  width: 100%
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 8, 8); 
  height: 60px; 
  position:absolute;
  
  width: 100%;
}
