

header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 0;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
}

footer {
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

footer p {
  margin: 0;
}
.home-link {
  color:white;
  
}

.nav-link {
  color:white;
  margin-right: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: ;

}

.user-info img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}


@media (max-width: 768px) {
  .nav-link {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: center;
    ;
    
  ;
  }
.menu-button{
  display:flex;
  padding-left: 10px;
   

}
}